body {
    background-image: url(../../assets/Admin_Images/MainpageBackground2.png);
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

@font-face {
    font-family: 'Caveat';
    src: url(../../Fonts/Caveat-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Zootopia';
    src: url(../../Fonts/ZootopiaJposterscomar-qJ80.ttf);
}

@font-face {
    font-family: 'Pacifico';
    src: url(../../Fonts/Pacifico-Regular.ttf);
}

.lsr-holder
{
    align-self: center;
    position: fixed;
    top: 15%;
    left: 20%;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
}

.lsr-container h1
{
    color:black;
    font-family: Caveat;
    align-self: center;
    margin-top: 0%;
    margin-bottom: 3vh;
}

.lsr-container
{
    position: relative;
    align-self: center;
    flex-direction: column;
    opacity: 0;
    transform: translateY(50px);
    animation: slideUp 1s forwards;
}

@keyframes slideUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.lsr-form
{
    align-self: center;
    display: flex;
    flex-direction: column;
    padding: 4vh;
    background-color: white;
    height: 55vh;
    width: 55vw;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1vh;
    gap: 3vh;
}

.lsr-upper 
{
    display: flex;
    flex-direction: row;
    color:black;
    gap: 7vw;
}

.lsr-lower
{
    display: flex;
    flex-direction: column;
    color:black;
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: left;
}

.lsr-upperleft, .lsr-upperright
{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.lsr-id, .lsr-subject
{
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding-left: 1vh;
}

.ID-lsr
{
    display: flex;
    background-color: white;
    color: black;
    padding-top: 0.5vh;
    padding-left: 0.5vw;
    height: 5vh;
    width: 15vw;
    font-size: 1.3rem;
    font-family: 'Times New Roman', Times, serif;
    border: none;

    outline: none;

}

.Subject-lsr
{
    display: flex;
    background-color: white;
    color: black;
    padding-left: 1vw;
    height: 5vh;
    width: 30vw;
    font-size: 1rem;
    border-radius: 0.8vh;
    border-style: solid;
    border-color: #D1D1D1;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25); 
    outline: none;
}

.lsr-message
{
    display: flex;
    background-color: white;
    color: black;
    padding-left: 1vw;
    height: 28vh;
    width: 53.2vw;
    font-size: 1.2rem;
    border-radius: 0.8vh;
    border-style: solid;
    border-color: #D1D1D1;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    font-family: 'Times New Roman', Times, serif;
}

textarea
{
    padding: 2vh 0vw 0vw 0vh;
    resize: none;
    outline: none;

}

.lsr-btn
{
    text-align: right;
    padding-right: 0.4vw;
}

.lsr-btn button
{
    border: none;
    background-color: black;
    color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    width: 10vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}