body {
    background-image: url(../../lassets/Admin_Images/MainpageBackground2.png);
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

@font-face {
    font-family: 'Caveat';
    src: url(../../Fonts/Caveat-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Zootopia';
    src: url(../../Fonts/ZootopiaJposterscomar-qJ80.ttf);
}

@font-face {
    font-family: 'Pacifico';
    src: url(../../Fonts/Pacifico-Regular.ttf);
}

.lwq-holder
{
    display: flex;
    flex-direction: column;
    align-self: center;
}

.lwq-container
{
    display: flex;
    flex-direction: column;
    align-self: center;
}


.lwq-rightside
{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: absolute;
    top: 8vh;
    left: 25vw;
    width: 75vw;
    height: 92vh;
    background-image: url(../../assets/Lecturer_Images/FromBackGround.png);
    background-size: cover;
    background-size: 180vh;
    background-position: center;
    background-repeat: no-repeat;
    overflow-y: scroll;
    overflow-x: hidden;
    white-space: nowrap;
    scrollbar-color: lightgrey transparent;
    opacity: 0;
    transform: translateX(-1%);
    animation: slideInFromLeft 1s forwards;
}

@keyframes slideInFromLeft {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.lwq-questioncontainer
{
    display: flex;
    flex-direction: column;
    padding: 10vh;
    gap: 10vh;

}

.lwq-question
{
    display: flex;
    flex-direction: column;

    position: relative;
    width: 60vw;
    height: 47vh;


    background: #FFFFFF;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: lightgrey;
    border-radius: 7px 7px 7px 7px;
}

.lwq-questionNo
{
    color: black;
    display: flex;
    flex-direction: row;
    position: relative;
    width: auto;
    height: auto;
    padding: 2vh;
    gap: 0.6vw;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 1pt solid lightgrey;
    padding-left: 3vw;
}

.lwq-questiontext
{
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 2vh 0vw 0vh 1vw;
}

.lwq-questiontext textarea
{
    display: flex;
    position: relative;
    padding: 2vh 0vw 0vh 2.3vw;
    width: 55.5vw;
    height: 25vh;
    font-size: 1.3rem;
    color: black;
    background-color: #FFFFFF;
    border: none;
    outline-style: none;
}


.lwq-questiontext textarea:active
{
    display: flex;
    position: relative;
    padding: 2vh 0vw 0vh 2.3vw;
    width: 55.5vw;
    height: 25vh;
    font-size: 1.3rem;
    color: black;
    background-color: #FFFFFF;
    border: none;
}

.lwq-questionmarks
{
    display: flex;
    flex-direction: row;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    gap: 1vw;
    padding: 2vh 0vw 0vh 2.3vw;
}

.lwq-questionmarks input
{

    width: 7vw;
    background: #FFFFFF;
    border-radius: 7px;
    outline: 0px solid #868585;
    color: black;
    font-size: 1rem;
}

.lwq-lower
{
    display: flex;
    position: relative;
    padding: auto;
    margin: -7vh 30vw;

}

.lwq-lower button
{
    height: 7vh;
    width: 15vw;
    background-color: white;
    color: #FC9F6A;
    font-size: 1.3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 4px solid #FC9F6A;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 7px;
}

.lwq-lower button:hover
{
    height: 7vh;
    width: 15vw;
    background-color: white;
    color: #FC9F6A;
    font-size: 1.3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 4px solid #FC9F6A;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 7px;
    outline: none;
}


.lwq-lower button:focus
{
    outline: none;
}

.delbtn
{
    margin: 1vh 1vw 1vh 44.9vw;
    color: red;
}



.lwq-deletebtn
{
   margin: auto;
   padding-left: 43vw;
   color: red;
}
 