body {
    background-image: url(../../assets/Admin_Images/MainpageBackground2.png);
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

@font-face {
    font-family: 'Caveat';
    src: url(../../Fonts/Caveat-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Zootopia';
    src: url(../../Fonts/ZootopiaJposterscomar-qJ80.ttf);
}

@font-face {
    font-family: 'Pacifico';
    src: url(../../Fonts/Pacifico-Regular.ttf);
}

h1 {
    display: flex;
    color: black;
    font-family: Caveat;
    align-items: center;
    text-align: center;
    align-content: center;
    justify-content: center;
    margin-bottom: 0;
}

.adl-container {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    opacity: 0;
    transform: translateY(50px);
    animation: slideUp 1s forwards;
}

@keyframes slideUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.adl-form {
    display: flex;
    flex-direction: row;
    align-self: center;
    padding: 4vh;
    background-color: white;
    height: 60vh;
    width: 60vw;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1vh;
    gap: 0;
}

.adl-leftside {
    display: flex;
    flex-direction: column;
    width: 10vw;
}

.adl-rightside {
    display: flex;
    flex-direction: column;
    padding: 1.5vh;
    width: 50vw;
}

.adl-label {
    padding-bottom: 1.6vh;
}

.adl-inputs {
    padding-left: 2vw;
    padding-bottom: 3.5vh;
}

.adl-ID,
.adl-Name,
.adl-Email,
.adl-Password {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    font-family: 'Times New Roman', Times, serif;
    padding: 2vh;
}

.adl-i-ID,
.adl-i-Name,
.adl-i-Email,
.adl-i-Password {
    display: flex;
    background-color: white;
    color: black;
    padding-left: 1vw;
    height: 5vh;
    width: 45vw;
    font-size: 1rem;
    border-radius: 0.8vh;
    border-style: solid;
    border-color: #D1D1D1;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    outline: none;
}

.adl-i-ID:focus,
.adl-i-Name:focus,
.adl-i-Email:focus,
.adl-i-Password:focus {
    outline: none;
}

.adl-btn {
    display: inline;
    text-align: right;
    position: relative;
    bottom: -25%;
}

.adl-btn button {
    border: 1px solid #000000;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    width: 10vw;
    outline: none;
    border: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.adl-btn button:focus {
    outline: none;
    border: none;
}
