body {
    background-image: url(../../assets/Admin_Images/MainpageBackground2.png);
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

@font-face {
    font-family: 'Caveat';
    src: url(../../Fonts/Caveat-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Zootopia';
    src: url(../../Fonts/ZootopiaJposterscomar-qJ80.ttf);
}

@font-face {
    font-family: 'Pacifico';
    src: url(../../Fonts/Pacifico-Regular.ttf);
}

h1
{
    display: flex;
    color:black;
    font-family: Caveat;
    align-items: center;
    text-align: center;
    align-content: center;
    justify-content: center;
    margin-bottom: 0;
}

.adss-container
{
    display: flex;
    flex-direction: column;
    gap: 3vh;
    opacity: 0;
    transform: translateY(50px);
    animation: slideUp 1s forwards;
}

@keyframes slideUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.adss-form
{
    align-self: center;
    display: flex;
    flex-direction: row;
    padding: 4vh;
    background-color: white;
    height: 60vh;
    width: 60vw;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1vh;

}

.adss-leftside
{
    display: flex;
    flex-direction: column;
    width: 20vw;

}

.adss-rightside
{
    display: flex;
    flex-direction: column;
    padding: 1.5vh;
    width: 45vw;
}

.adss-label
{
    padding-bottom: 1.8vh;
}

.adss-inputs
{
    padding-left: 2vw;
    padding-bottom: 3.5vh;
}


.adss-Name
{
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    font-family: 'Times New Roman', Times, serif;
    padding: 2vh;
}

.adss-i-Name
{
    display: flex;
    background-color: white;
    color: black;
    padding-left: 1vw;
    height: 5vh;
    width: 40vw;
    font-size: 1rem;
    border-radius: 0.8vh;
    border-style: solid;
    border-color: #D1D1D1;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    outline: none;
}

.adss-i-Name:focus
{
    outline: none;
}

.adss-Email
{
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    font-family: 'Times New Roman', Times, serif;
    padding: 2vh;
}

.adss-i-Email
{
    display: flex;
    background-color: white;
    color: black;
    padding-left: 1vw;
    height: 5vh;
    width: 40vw;
    font-size: 1rem;
    border-radius: 0.8vh;
    border-style: solid;
    border-color: #D1D1D1;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    outline: none;
}

.adss-i-Email:focus
{
    outline: none;
}

.adss-Password
{
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    font-family: 'Times New Roman', Times, serif;
    padding: 2vh;

}

.adss-i-Password
{
    display: flex;
    background-color: white;
    color: black;
    padding-left: 1vw;
    height: 5vh;
    width: 10vw;
    font-size: 1rem;
    border-radius: 0.8vh;
    border-style: solid;
    border-color: #D1D1D1;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    outline: none;
}

.adss-i-Password:focus
{
    outline: none;
}

.adss-btn 
{
    display: inline;
    text-align: right;
    margin-top: 25vh;
}

.adss-btn button
{
    border: 1px solid #000000;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    width: 10vw;
    outline: none;
    border: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.adss-btn button:focus
{
    outline: none;
    border: none;
}