.aeasr-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .aeasr-popup {
    display: flex;
    flex-direction: column;
    position: fixed;
    transform: translate(-50%, -50%);
    width: 31vw;
    height: 33vh;
    background: white;
    border-radius: 10px;
    padding-top: 0;
    z-index: 1000;
    transition: opacity 0.3s ease, transform 0.3s ease; /* Add transition for smooth fade */
  }
  
  .aeasr-show-popup {
    display: flex; /* Use flex to show the overlay and center the popup */
  }
  
  .aeasr-hide-popup {
    display: flex; /* Use flex to keep the overlay while fading out */
  }
  
  .popup-enter {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  
  .popup-exit {
    opacity: 0;
    transform: translate(-50%, -40%);
  }
  
  .aeasr-close {
    position: absolute;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
    font-size: 20px;
    cursor: pointer;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 10px;
    border-top-left-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: none;
    outline: none;
  }
  
  .aeasr-close:focus {
    border: none;
    outline: none;
  }
  
  .aeasr-close:hover {
    border: none;
    outline: none;
    background-color: red;
  }
  
  .aeasr-popup h2 {
    font-family: 'Times New Roman', Times, serif;
    padding-top: 4vh;
  }
  
  .aeasr-buttons {
    display: flex;
    flex-direction: row;
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    left: 35%;
    top: 20vh;
    margin: auto;
    border: none;
    outline: none;
  }

  .aeasr-buttons button
  {
    background: black;
    color: white;
    cursor: pointer;
    width: 10vw;
    align-self: center;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .aeasr-buttons button,
  .aeasr-buttons button:focus {
    border: none;
    outline: none;
  }
  
  .aeasr-yes-btn {
    width: 10vw;
    font-size: 1.5rem;
  }
  
  .aeasr-buttons button:hover {
    background: #db8341;
    transition: ease-in 0.3s;
    color: white;
  }
  