.swqp-Quizholder {
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: 0vw;
    top: 0vh;
    background-color: #484848;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
  }
  
  .swqp-container {
    display: flex;
    flex-direction: column;
  }
  
  .swqp-upperheader {
    display: flex;
    flex-direction: row;
  }
  
  .swqp-numberofquestions {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 7vw;
    height: 7vh;
    left: 1.5vw;
    top: 2vh;
    background: #FFFFFF;
    border-radius: 7px;
  }
  
  .swqp-questionNo span {
    position: relative;
    top: 0.7vh;
    left: 1vw;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .swqp-midquestionno span {
    position: relative;
    top: 0.7vh;
    left: 1.5vw;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .swqp-totalquestions label {
    position: relative;
    top: 0.45vh;
    font-size: 2rem;
    left: 1.6vw;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .swqp-quizlogo {
    font-family: Zootopia;
    color: coral;
    font-size: 2rem;
    position: absolute;
    left: 45%;
    top: 23px;
  }
  
  .timer {
    position: absolute;
    width: 91px;
    height: 47px;
    right: 3vw;
    top: 23px;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #FFFFB7;
  }
  
  .swqp-lowerupper {
    display: flex;
    position: absolute;
    left: 8vw;
    top: 15vh;
  }
  
  .swqp-QuizTopic label {
    font-size: 3rem;
    color: #FFFFFF;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .swqp-QuizTopic img {
    position: absolute;
    width: 12vw;
    top: -1.3vh;
    left: 65vw;
  }
  
  .swqp-AnsweringPart {
    display: flex;
    flex-direction: column;
  }
  
  .swqp-leftside {
    position: absolute;
    width: 90%;
    height: 23vw;
    left: 10vh;
    top: 23vh;
    background: #484848;
    border: 3px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 64px;
    justify-content: center;
    align-content: center;
  }
  
  .swqp-Question label {
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    color: white;
  }
  
  .swqp-rightside {
    display: flex;
    position: absolute;
    left: 4.7vw;
    width: 90%;
    height: 23vh;
    top: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: flex-start;
    gap: 3vh;
  }

  .swqp-textanswer
  {
    display: flex;
    width: 90%;
    height: 21vh;
    padding: 3vh 4vw;
    font-size: 2rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #484848;
    font-family: 'Times New Roman', Times, serif;
    border: none;
    outline: none;
  }


  .swqp-nextbtn
  {
    position: absolute;
    width: 10vw;
    right: 2vw;
    bottom: 3vh;
    outline: none;
    border: none;
  }
  
  .swqp-nextbtn:focus
  {
    outline: none;
    border: none;
  }
  

    /* HTML: <div class="loader"></div> */
    .sd-loader {
      width: 50px;
      aspect-ratio: 1;
      display: grid;
      border: 4px solid #0000;
      border-radius: 50%;
      border-right-color: coral;
      animation: l15 1s infinite linear;
    }
    .sd-loader::before,
    .sd-loader::after {    
      content: "";
      grid-area: 1/1;
      margin: 2px;
      border: inherit;
      border-radius: 50%;
      animation: l15 2s infinite;
    }
    .sd-loader::after {
      margin: 8px;
      animation-duration: 3s;
    }
    @keyframes l15{ 
      100%{transform: rotate(1turn)}
    }
  