@font-face {
    font-family: "Zootopia";
    src: url(../../Fonts/ZootopiaJposterscomar-qJ80.ttf);
}

@font-face {
    font-family: "Pacifico";
    src: url(../../Fonts/Pacifico-Regular.ttf);
}

.swqs-Quizholder {
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: 0vw;
    top: 0vh;
    background-color: #484848;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}
  
.swqs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    animation: slide-in 1s ease-out;
}

@keyframes slide-in {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.swqs-upperheader {
    display: flex;
    flex-direction: row;
    align-self: center;
}

.swqs-quizlogo {
    font-family: Zootopia;
    color: coral;
    font-size: 3rem;
    position: relative;
    justify-self: center;;

}

.swqs-summarybox {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    width: 60vw;
    height: 84vh;
    top: 1vh;
    border-radius: 20px;
    border: 1px solid #473f3f;
    filter: drop-shadow(0px 4px 100px rgba(0, 0, 0, 0.64));
    background-image: url(../../assets/Student_Images/FromBackGround.png);
    background-size: cover;
    opacity: 0.8;
}

.swqs-summaryheader {
    position: relative;
    width: 190px;
    height: 41px;
    left: 25vw;
    top: 1vh;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 41px;
    color: #000000;
}

.swqs-StudentIDName {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 18.5vw;
    top: 1vw;
    width: 30vw;
}

.swqs-ProfilePic {
    font-size: 6rem;
    margin: 0vh 1vw;
    color: black;
}

.swqs-StudentName {
    margin: 4vh 1vw;
    font-size: 2.5rem;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

.swqs-subjectname {
    position: relative;
    width: 352px;
    height: 46px;
    left: 22vw;
    top: 1vh;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 46px;
    display: flex;
    letter-spacing: 0.03em;
    color: #000000;
}

.swqs-topicname {
    position: relative;
    width: 258px;
    height: 27px;
    left: 5vw;
    top: 4vh;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 27px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: #000000;
}

.swqs-typeofquiz {
    position: relative;
    width: 258px;
    height: 27px;
    left: 43vw;
    top: 1vh;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 27px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: #000000;
}



.swqs-quizsummary {
    display: flex;
    flex-direction: column;
    color: black;
}

.swqs-quizsummaryheader {
    position: relative;
    width: 241px;
    height: 30px;
    left: 24vw;
    top: 1vh;
    font-family:'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: #000000;
}

.swqs-quizsummarycontent {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-self: center;
    justify-items: center;
    align-self: center;
    align-items: center;
    width: 50vw;
    height: 20vh;
    top: 2vh;
    left: 18vw;
}



.swqs-quizsummarycontent3 {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    font-family: 'League Spartan';
    font-style: normal;
    font-size: 30px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #000000;
    position: relative;
    width: 13vw;
    height: 15vh;
    background: #71DDFF;
    border: 1px solid #CBCBCB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding-top: 2vh;
}


.swqs-TimeIcon {
    font-size: 45px;
    margin-top: -0.6vh;
}

.QuizSubmitted
{
    position: relative;
    bottom: -5vh;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
}

.swqs-Exitbtn
{
    width: 10vw;
    height: 6vh;
    color: white;
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
    position: relative;
    border-radius: 5px;
    justify-content: center;
    justify-self: center;
    align-self: center;
    align-items: center;
    bottom: -6vh;
    outline: none;
    border: none;
}

.swqs-Exitbtn:hover, .swqs-Exitbtn:focus
{
    outline: none;
    border: none;
}