body{
    background-image: url(../assets/Admin_Images/MainpageBackground2.png);
    background-size: cover;
    align-self: center;
}

@font-face {
    font-family: "Zootopia";
    src: url(../Fonts/ZootopiaJposterscomar-qJ80.ttf);
}

@font-face {
    font-family: "Pacifico";
    src: url(..//Fonts/Pacifico-Regular.ttf);
}

@font-face {
    font-family: "Caveat";
    src: url(../Fonts/Caveat-VariableFont_wght.ttf);
}

.holder
{
    align-self: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    height: auto;
    width: 70vw;
}

.mid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 67vw;
    flex-direction: row;
    gap: 4vw;
}

.word1 {
    font-family: "Pacifico";
    font-size: 3.4rem;
    color: #000;
}

.word2 {
    font-family: "Pacifico";
    font-size: 1.4rem;
    color: #000;
    padding-bottom: 2vh;
}

.btn
{
    font-family: "Pacifico";
    font-size: 1.2rem;
    color: #000;
    text-align: left;
    background-color: #d877fb;
    border: none;
    border-radius: 1.3vh;
    width: 6vw;
    height: 6.5vh;
    text-align: center;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.6);
    outline: none;
    border: none;
}

.btn:hover
{
    background-color: #b51dec;
}

.btn:focus
{
    background-color: #b51dec;
    outline: none;
    border: none;
}

a
{
    text-decoration: none;
    color: black;
}

.girl
{
    height: 45vh;
    width: 30vw;
}

.bot
{
    text-align: center;
    width:  50vw;
    height: 9vh;
    font-family: Caveat;
    font-style: normal;

}

.bot .footerwords1
{
    font-size: 2rem;
    padding-bottom: 1vh;
    color: black;
    
}

.bot .footerwords2
{
    font-size: 35px;
    color: black;
}

.bot .footerwords2 span
{  
    color:#b51dec
}